@media (max-width: 768px) {
  .navbar,
  .about-us {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
  }
  .about-us {
    flex-direction: row;
  }
  .search {
    visibility: hidden;
  }

  #logo {
    width: 250px;
    height: 180px;
    margin-bottom: 10px;
  }

  .option {
    gap: 16px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: static;
  }

  .banner-image {
    height: 300px;
    font-size: 2rem;
    text-align: center;
  }

  .shopping-section {
    flex-direction: column;
    align-items: center;
  }

  .box {
    width: 90%;
  }

  .final {
    flex-direction: column;
    height: auto;
    padding: 20px 0;
  }

  .footer-panel2 {
    display: flex;
    gap: 8px;
    flex-direction: row;
    height: auto;
    text-align: center;
  }
  #footer-follow {
    border-left: 2px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    padding: 5px;
  }

  #footer-follow i {
    padding: 10px;
    font-size: 1.6rem;
  }
  .shopping-image {
    flex-direction: column;
    align-items: center;
  }

  .coloum {
    width: 90%;
    margin-bottom: 20px;
    text-align: center;
  }

  .coloum img {
    width: 90%;
    height: auto;
    margin-bottom: 15px;
  }

  .coloum button {
    width: 100%;
    margin-bottom: 20px;
    font-size: 1rem;
  }
}
